<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    
</head>
<body>     
  <div>
    <header class="headnvar">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/autores}">Autores</a>
          <ul>
            <li><a th:href="@{/autores}">Lista de autores</a></li>
            <li><a th:href="@{/autores/formulario}">Cargar un autor</a></li>
          </ul>
        </li>
        <li><a th:href="@{/editoriales}">Editoriales</a>
          <ul>
            <li><a th:href="@{/editoriales}">Lista de editoriales</a></li>
            <li><a th:href="@{/editoriales/form}">Cargar una editorial</a></li>
          </ul>
        </li>
        <li><a th:href="@{/libros}">Libros</a>
          <ul>
            <li><a th:href="@{/libros}">Lista de libros</a></li>
            <li><a th:href="@{/libros/formulario}">Cargar un libro</a></li>
          </ul>
        </li>
        <li><a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/clientes}">Clientes</a>
          <ul>
            <li><a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/clientes}">Lista de clientes</a></li>
          </ul>
        </li>
        <li><a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/prestamos}">Prestamos</a>
          <ul>
            <li><a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/prestamos}">Lista de prestamos</a></li>
            <li><a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/prestamos/registro}">Cargar un prestamo</a></li>
          </ul>
        </li>
        <li class="singin"><a class="singin" th:href="@{/login}">Sign-in</a></li>
        <li><a th:href="@{/clientes/registro}">Resgistrar</a></li>
      </ul>   
    </header>
  </div>
  <div>
  <main>   
    
      <br>
      <div class="titular">
        <h1>Libreria Pipo</h1>
        <h2>Tu libreria virutal</h2>     
      </div>
       

      <section class="py-5 text-center container body">        
          <div class="row py-lg-5">                  
            <div class="col-lg-6 col-md-8 mx-auto">              
              <h2 class="fw-light">Estrenos Esperados</h1>
              <p class="lead text-muted">Libros que han sido publicados en los ultimos dias y ya han llegado ha nuestra libreria virtual, que comience la aventura!</p>
              
            </div>
          </div>
      </section>
      
        <div class="album py-5 bg-light">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      
                  <div class="card-body">
                    <p class="card-text">Simarilion</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                      </div>
                      <small class="text-muted">1 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      
                  <div class="card-body">
                    <p class="card-text">Las legiones malditas</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                      </div>
                      <small class="text-muted">2 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      
                  <div class="card-body">
                    <p class="card-text">Les Astonautes</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                      </div>
                      <small class="text-muted">3 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      
    </main>
  </div>  

  <footer class="text-muted py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Up</a>
        </p>
        <p class="mb-1">Derechos recervados Juan Francisco Indelicato &copy; Libreria Pipo</p>       
        <p>Since 2022 Mendoza, Argentina</p> 
      </div>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
</body>
</html>