<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div class="tituloprincipal">
            <h1>Login</h1>            
        </div>
        <div>
            <form class="Formulario" action="#" method="POST">
                <div>
                    <label for="mail">Ingrese su Mail:</label>
                    <input type="text"name="mail" placeholder="e-mail">
                </div>
                <div>
                    <label for="mail">Ingrese su Contraseña:</label>
                    <input type="text"name="contraseña" placeholder="password">
                </div>
            </form>
            <button type="submit">Ingresar</button>
        </div>
    </body>
    
</html>
