<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Registro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="index.css">
    </head>
    <body class="bg">
        <div>
            <h1 class="tituloprincipal">Libreria Pipo Never Die</h1>
            <div>
                <h2 class="tituloprincipal">Registro</h2>
                <div class="div1">
                    <form class="formulario" action="/registro" method="POST">
                        
                        <label>Nombre</label>                        
                        <input type="text" name="nombre">
                        <br>
                        <label>Apellido</label>
                        <input type="text" name="apellido">    
                        <br>
                        <label>Mail</label>                        
                        <input type="text" name="mail">
                        <br>
                        <label>Fecha de nacimiento</label>
                        <input type="date" name="nacimiento">
                        <br>
                        <label>Contraseña</label>
                        <input type="password" name="contraseña">                        
                        <input type="hidden" name="id">
                        <input type="hidden" name="alta">                        
                    </form>
                </div>
            </div>
            
        </div>
        <a href="/registro"><button type="submit">Registrar</button></a>
    </body>
</html>
