<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saludo</title>
</head>
<body>
    
    <p th:text="${'Hola: ' +nombre+ ' ' +apellido}"> Texto Default</p>
    
    <fieldset>                
        <div class="px-4 py-5 my-5 text-center">
            <h1 th:text="${libro.id != null and !#strings.isEmpty(libro.id) ? 'Editar Libro' : 'Nuevo Libro'}"></h1>
        </div>
      <div class="mb-3">
        <label for="titulo" class="form-label">Titulo</label>
        <input type="text" class="form-control" placeholder="Titulo del libro" autofocus>
      </div>
      <div class="mb-3">
        <label for="isbn" class="form-label">ISBN</label>
        <input type="number" class="form-control" placeholder="ISBN del libro">
      </div>
      <div class="mb-3">
        <label for="anio" class="form-label">Año</label>
        <input type="number" class="form-control" placeholder="Año de salida del libro">
      </div>
      <div class="mb-3">
        <label for="ejemplares" class="form-label">Ejemplares</label>
        <input type="number" class="form-control" placeholder="Ejemplares imprimidos">
      </div>
      <div class="mb-3">
        <label for="ejemplaresprestados" class="form-label">Ejemplares Prestados</label>
        <input type="number" class="form-control" placeholder="Ejemplares prestados/o no disponibles">
      </div>
      <div class="mb-3"> 

        <input type="hidden" class="form-control" placeholder="alta">
      </div>
      
      <div class="mb-3">
        <label for="disabledSelect" class="form-label">Autor</label>
        <select id="disabledSelect" class="form-select">
          <option>Casi papi//En construccion//</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="disabledSelect" class="form-label">Editorial</label>
        <select id="disabledSelect" class="form-select">
          <option>Casi papi//En construccion//</option>
        </select>
      </div>
      
      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
          <label class="form-check-label" for="disabledFieldsetCheck">
            Can't check this
          </label>
        </div>
      </div>
      <p th:if="${Error != null}" th:text="${Error}" style="color: red;"></p>
      <button th:text="${libro.id != null && !#strings.isEmpty(libro.id) ? 'Guardar' : 'Crear'}" class="btn btn-primary" type="submit"></button>
    </fieldset>

</body>
</html>