<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Libro</title>
</head>
<body>
    
    <div>
      <form th:action="@{/libros/saludo}" th:objeto="${libro}" method="POST">
        
        <div>
          <label for="nombre del libro">Titulo</label>
          <input type="text" th:field="*{titulo}" th:value="*{titulo}" class="from-control" placeholder="Titulo del libro"/>
        </div>
        <!--
        <div>
            <label for="isbn">ISBN</label>
            <input type="number" class="from-control" th:field="*{isbn}" th:value="*{isbn}" placeholder="ISBN del libro"/>
        </div>
        <div>
            <label for="anio">Año</label>
            <input type="number" class="from-control" th:field="*{anio}" th:value="*{anio}" placeholder="Año de publicacion del libro"/>
        </div>
        <div>
            <label for="ejemplares">Ejemplares</label>
            <input type="number" class="from-control" th:field="*{ejemplares}" th:value="*{ejemplares}" placeholder="Ejemplares del libro"/>
        </div>
        <div>
            <label for="ejemplaresPrestados">Ejemplares Prestados</label>
            <input type="number" class="from-control" th:field="*{ejemplaresPrestados}" th:value="*{ejemplaresPrestados}" placeholder="Ejemplares prestados del libro"/>
        </div>
        <div>
            <label for="autor">Autor</label>
            <select>
              <option>

              </option>
            </select>
        </div>
        <div>
            <label for="editorial">Editar</label>
            <select>
              <option>
                
              </option>
            </select>
        </div>

      </form>

      <div>
        <p th:if="${Error != null}" th:text="${Error}" style="color: red;"></p>
        <button th:text="${libro.id != null && !#strings.isEmpty(libro.id) ? 'Guardar' : 'Crear'}" class="btn btn-primary" type="submit"></button>
        <button th:href="@{/libros}" class="btn btn-primary my-2">Volver</button>
      </div>
      -->
    </div>
</body>
</html>